@media only screen and (min-width: 0px) {
    /*Carrusel*/

    #carrusel {
        width: 100%;
        margin-bottom: 5vh;
        img {
            width: 100%;
        }
    }



    /*Proyectos destacados*/

    #proyectos {
        margin-bottom: 5vh;
        article {
            @include flex-col-sb;
        }
    }

    

    /*Mapa y proyecto*/

    #ubicacionProyecto{
        margin: 0%;
        margin-bottom: 5vh;
    }



    /*Mandar proyectos*/
    
    #mandaProyecto {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
        text-align: left;
        form .formProyecto {
            display: flex;
            flex-direction: column;
        }
        div {
            @extend .formProyecto;
            margin-bottom: 2%;
        }
    }

    #limpiarProyecto, #enviarProyecto {
        width: 30%;
        input{
            width: 100%;
        }
    }
}