@media only screen and (min-width: 0px) {
    #texto {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
        text-align: left;
        img {
            width: 100%;
            margin-top: 2vh;
        }
    }
}