@media only screen and (min-width: 0px) {
    #tienda {
        margin-bottom: 5vh;
        img {
            width: 100%;
        }
        .producto {
            border: 1px solid map-get($map: $colores, $key: "secundario");
            border-radius: 10px;
            @include flex-col-sb;
            flex-shrink: 1;
            padding: 20px;
            margin: 0;
        }
    }
}