@media only screen and (min-width: 0px) {
    #tienda {
        margin-bottom: 5vh;
        img {
            width: 100%;
        }
        .producto {
            border: 1px solid #FF6D00;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-shrink: 1;
            padding: 20px;
            margin: 0;
        }
    }
}