/*
FUENTES

'MuseoModerno', cursive;
'Lato', sans-serif;
'Noto Sans', sans-serif;
*/

$colores: (
    principal: #263238,
    texto: white,
    secundario: #FF6D00,
);



* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

body {
    background-color: map-get($map: $colores, $key: "principal");
    font-family: 'Noto Sans', sans-serif;
    background-image: url(../img/bipolar.png);
    background-size: 10vh;
    color: map-get($map: $colores, $key: "texto");
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    color: map-get($map: $colores, $key: "secundario");
}

a {
    text-decoration: none;
    color: map-get($map: $colores, $key: "texto");
}

@import "_header";
@import "_newsletter";
@import "_footer";
@import "_index";
@import "_tienda";
@import "_proyectos";
@import "_especifico";
@import "_quienesSomos";
@import "_contactanos";
@import "_texto";